* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FEDF8B;
}

a {
    color: black;
    text-decoration: none;
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}

.app {
    width: 90%;
    max-width: 1400px;
    background-color: white;
    border-radius: 1em;
    margin: 2em 0;
}

.skeletonCandles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 350px));
    justify-content: space-evenly;
    grid-gap: 2em;
}

.btn {
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid #FF9499;
    color: #FF9499;
    cursor: pointer;
    transition: all 250ms;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 20px;
    margin-right: 1em;
}

.btn:hover, .btn:focus {
    background-color: #FF9499;
    color: white;
}

.spinnerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
