.shopItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F5f5f5;
}

.item, .btns {
    display: flex;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.itemImg {
    max-height: 64px;
}

.title {
    max-width: 320px;
    font-size: 1.25rem;
    font-weight: 500;
}

.minus, .plus, .close {
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #FF9499;
    border: 1px solid #FF9499;
    cursor: pointer;
}

.minus {
    margin-right: 0.5em;
}

.count {

}

.plus {
    margin-right: 2em;
    margin-left: 0.5em;
}

.totalPrice {
    margin-right: 3em;
    width: 100px;
}

.close {
    border: 1px solid black;
    color: black;
    opacity: 0.25;
}

@media (min-width: 600px) {
    .shopItem {
        flex-direction: row;
    }
}
