.mainContent {
    padding: 0 2em 2em 2em;
}

.candlesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 350px));
    justify-content: space-evenly;
    grid-gap: 2em;
}
