.pageWrapper {
    padding: 2em;
}

.page {
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 42px;
    color: #ff9499;
    border-radius: 30px;
    border: 1px solid #ff9499;
    cursor: pointer;
    margin-right: 1em;
}

.pageCurrent {
    background-color: #ff9499;
    color: white;
}
