.signup {
    padding: 0.5em 1em;
    color: #FF9499;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #FF9499;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 250ms;
}

.signup:hover,
.signup:focus {
    color: white;
    background-color: #FF9499;
}