.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.animation {
    max-width: 128px;
    max-height: 128px;
    margin-left: 2em;
}
